/* media queries*/
@use "./mixins.scss" as *;

/* variables*/
@use "./variables" as *;


/* Estilos generales - Cuerpa Integral*/


#texto-main{
    padding: 3.5rem;
    overflow-x: hidden;
     
    @include mobile {
    padding: 5rem 3.5rem;
    overflow-x: hidden;
    }
     
    @include tablet-v {
    padding: 3rem 12rem 3rem 3.5rem;
    }
    
    @include tablet-h {
    padding: 2.9rem 3.5rem;
    }
}

.parrafo{
    font-family: $font_parrafo;
    font-size: $font_size_parrafo;
    color: $color_font_b;
    letter-spacing: 0.15rem;
    line-height: 1.1rem;

    @include mobile {
    font-size: 0.75rem;
    letter-spacing: 0.12rem;
    line-height: 1rem;
    }

    @include tablet-v {
    font-size: 0.7rem;
    letter-spacing: 0.11rem;
    line-height: 1rem;
    }

    @include tablet-h {
    font-size: 0.7rem;
    letter-spacing: 0.11rem;
    line-height: 1rem;
    }
   }

.titulo-main{
  font-family: $font_titulo;
  font-size: $font_size_titulo;
  color: $color_font_b;
  font-weight: 100;
  line-height: 2.4rem;
  margin: 2.6rem 0rem;

  @include mobile {
  font-size: 1.7rem;
  line-height: 2rem;
  margin: 1.9rem 0rem;
  }

  @include tablet-v {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 1.9rem 0rem;
  }
  
  @include tablet-h {
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 1.9rem 0rem;
  }

  }

/* Comienza MAIN - Cuerpa Integral*/
.main-cuerpa {
    background-color: #EAC7C7;
    margin: 0rem;
    padding: 2rem 0rem;
    overflow-x: hidden;

    .col-texto-main{
        display: flex;
        align-items: center;
        padding-right: 0rem;
        }
}

.col-img-cuerpa{
   display: flex;
   justify-content: center;
   align-items: center;

    #img-cuerpa{
       width: 20rem;
       margin: 0rem 4rem;
       padding: 1rem;

       @include mobile {
       padding: 0rem 0.1rem 3rem 0.1rem;
       overflow-x: hidden;
       }
    
       @include tablet-v {
       padding: 0rem 0.3rem 3rem 0.3rem;
       }

    }
}
/* Termina MAIN - Cuerpa */

/* Comienza PROGRAMA - Cuerpa */
.main-programa{
    background-color:#EAC7C7;
    margin: 0rem;
    padding: 4rem 0rem;
    overflow-x: hidden;

    #texto-cuerpa{
        padding: 3.5rem;
     }

     .col-programa{
       display: flex;
       align-items: center;
       justify-content:center;
   

       .programa-items{
          width: 22rem;
          margin: 1rem 2rem 1rem 2rem;
        }

        .accordion-button:not(.collapsed){ 
           background-color: #ffffff;
           color: black;
        }
     }
}

/* Termina PROGRAMA - Cuerpa */

/* Comienza Cuerpa Integral - Cuerpa Integral*/

.section-cuerpa{
    background-color: #7DB9B6;
    padding: 1rem 2rem;
 
    @include mobile {
     padding: 3.5rem 2rem;
     overflow-x: hidden;
     }
 
     @include tablet-v {
         padding: 3.5rem 2rem;
     }
     .col-img-cuerpa{
        display: flex;
        justify-content: center;
        align-items: center;
 
        @include mobile {
         padding: 3rem 0rem;
         overflow-x: hidden;
         }

        @include tablet-v {
            padding: 3rem 0rem;
           }
        .img-cuerpa-absolute{
            position: absolute;
            #img-cuerpa1{
                height: 20rem;
                margin-right: 6rem;
             }
           }
           .img-cuerpa-relative{
            position:relative;
 
            #img-cuerpa2{
                height: 17rem;
                margin-left: 10rem;
              }
          }
      }
      #texto-cuerpa{
        padding: 4rem;
 
        @include mobile {
         padding: 0rem 1.6rem;
         overflow-x: hidden;
         }
 
         @include tablet-v {
             padding: 0rem 1.6rem;
         }
 
           .parrafo-negrita{
              font-weight: 600;
           }
     }
 }
    
     